#error-container {
    position: fixed;
    width: 750px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    z-index: 1000;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border-width: 2px;
    border-color: #ff0037;
    border-style: solid;
}

.error-content h2 {
    color: #ffffff;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}
