body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

/* Head */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: transparent;
    position: absolute;
    top: 0;
}

header .logo .icon img {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    margin-top: -15px;
    margin-left: 0px;
}

/* Nav Bar */


nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    margin-top: -25px;
    margin-right: 10px;
    padding: 0;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    background-color: #181818;
    padding: 10px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}
nav ul li a i.material-icons {
    font-size: 20px;
    margin-right: 5px; 
    color: #7700e7;
}
nav ul li a img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding-top: 80px; 
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: auto;
}
main h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 40px;
}

/* Search Bar */

.search-bar {
    position: fixed;
    align-items: center;
    display: flex;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #181818;
    padding: 10px 10px;
    border-radius: 10px;
    width: 400px;
    z-index: 1000;
}


.search-bar button {
    background: none;
    border: none; 
    cursor: pointer;
    margin-right: 5px;
    display: flex; 
    align-items: center;
    order: 1; 
}
.search-bar button .material-symbols-outlined {
    font-size: 24px; 
    color: #7700e7;
}
.search-bar input[type="text"] {
    border: none;
    background: none;
    outline: none;
    color: #fff;
    flex-grow: 1;
    font-size: 1rem;
    order: 2;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: transparent;
    color: #999;
    font-size: 0.9rem;
}

footer .links {
    margin-top: 10px;
}

footer .links a {
    color: #999;
    text-decoration: none;
    margin: 0 5px;
}

footer .links a:hover {
    color: #fff;
}


/* Cards */
.card-button {
    all: unset;
    display: inline-block;
    border: none;
    padding: 0;
    cursor: pointer;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-top: 65px;
    padding: 0 20px;
    justify-items: center; 
    align-items: start;
    min-height: 600px; 
}

.card {
    background-color: #181818;
    border-radius: 10px;
    overflow: hidden;
    width: 180px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(72, 0, 255, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 2px 6px 8px rgba(64, 0, 255, 0.8);
}

.card-thumbnail {
    height: 100px;
    width: 160px;
    margin-top: 20px;
    object-fit: cover; /* contain, fit, fill, cover */
    border-radius: 5px;
}

.card-title {
    margin: 15px 0;
    font-size: 1.1rem;
    padding: 0 10px;
    background: linear-gradient(135deg, #2500c9, #4c64ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}


.hidden {
    display: none;
}
