<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vibranium - Apps</title>
    <link rel="stylesheet" href="../static/css/apps.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="icon" href="../static/images/logo.png">
</head>
<body data-theme="default">
    <header>
        <div class="logo">
            <div class="icon">
                <img src="../static/images/logo.png" alt="Logo Icon">
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html"><i class="material-icons">home</i> Home</a></li>
                <li><a href="../templates/apps.html"><i class="material-icons">apps</i> Apps</a></li>
                <li><a href="../templates/files.html"><i class="material-icons">sports_esports</i> Games</a></li>
                <li><a href="../templates/settings.html"><i class="material-icons">settings</i> Profile</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="search-bar">
            <input type="text" id="search-input" placeholder="Search apps">
            <button id="search-button">
                <i class="material-symbols-outlined">search</i>
            </button>
        </div>
        <div class="cards-container">
            <button class="card-button" data-url="../files/req.html">
                <div class="card">
                    <img data-src="https://glacierarcade.win/assets/thumbnail/request.png" alt="thummy" class="card-thumbnail">
                    <h3 class="card-title">Request an App</h3>
                </div>
            </button>

                <button class="card-button" data-url="../files/ruffle.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="ruffle"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/appimg/ruffle-flash-player-emulator.png" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">Ruffle</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/emulator.js.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="emulator.js"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/appimg/emulatorjs.png" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">Emulator.js</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="404.html">
                    <div class="card disabled">
                        <div class="favorite-icon" data-id="webretro"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/appimg/webretro.png" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title disabled">WebRetro</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/v86.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="v86"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/appimg/v86.png" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">v86</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/blueedge.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="blueedge"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/appimg/windows11.jpg" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">BlueEdge</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/android.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="android"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/appimg/and.png" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">Android</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/ios.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="ios"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/thumbnail/ios.jpg" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">IOS</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/html_coder.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="html_coder"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/appimg/htmlcoder.png" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">HTML Coder</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/thirty_dollar_website.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="thirty_dollar_website"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/appimg/thirtydollar.jpg" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">Thirty Dollar Website</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/copilot.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="copilot"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/copilot.png" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">Copilot</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/geforce_now.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="geforce_now"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/geforce.jpg" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">Geforce Now</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/now_gg.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="now_gg"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/nowgg.jpg" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">Now GG</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/crazy_games.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="crazy_games"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/appimg/crazy.jpg" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">Crazy Games</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/coolmathgames.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="coolmathgames"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/appimg/cool.jpg" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">CoolMathGames</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/duckduckgo.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="duckduckgo"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/duck.png" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">DuckDuckGo</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/google.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="google"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/google.jpg" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">Google</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/youtube.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="youtube"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/yt.jpg" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">YouTube</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/twitch.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="twitch"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/t.png" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">Twitch</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/tiktok.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="tiktok"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/tt.png" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">TikTok</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/snapchat.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="snapchat"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/sc.jpg" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">Snapchat</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/reddit.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="reddit"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/redd.png" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">Reddit</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/discord.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="discord"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/disc.png" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">Discord</h3>
                    </div>
                </button>
                

                <button class="card-button" data-url="../files/spotify.html">
                    <div class="card">
                        <div class="favorite-icon" data-id="spotify"><i class="fas fa-star"></i></div>
                        <img data-src="https://glacierarcade.win/assets/img/s.jpg" alt="thummy" class="card-thumbnail" loading="lazy">
                        <h3 class="card-title">Spotify</h3>
                    </div>
                </button>
        </div>
    </main>
    <footer>
        <p>&copy; Vibranium 2024</p>
        <div class="links">
            <a href="#">GitHub</a> / <a href="#">Discord</a> / <a href="#">Privacy</a>
        </div>
    </footer>
</body>
<script src="../static/js/apps.js"></script>
<script src="../static/js/versionChecker.js"></script>
</html>
