<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vibranium - Profile</title>
    <link rel="stylesheet" href="../static/css/settings.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="icon" href="../static/images/logo.png">
</head>
<body>
    <header>
        <div class="logo">
            <div class="icon">
                <img src="../static/images/logo.png" alt="Logo Icon">
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html"><i class="material-icons">home</i> Home</a></li>
                <li><a href="../templates/apps.html"><i class="material-icons">apps</i> Apps</a></li>
                <li><a href="../templates/files.html"><i class="material-icons">sports_esports</i> Games</a></li>
                <li><a href="../templates/settings.html"><i class="material-icons">account_circle</i> Profile</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="profile-container">
            <div class="profile-picture">
                <img id="profile-img" src="../static/images/default.png" alt="Profile Picture">
                <div class="upload-overlay">
                    <label for="file-upload" class="upload-label">
                        <i class="material-icons">camera_alt</i>
                    </label>
                    <input type="file" id="file-upload" accept="image/*">
                </div>
            </div>
            <div class="username">
                <span id="username">username</span>
                <i class="material-icons edit-icon">edit</i>
            </div>
            <div class="stats scrollable-section">
                <h2><i class="fas fa-gamepad"></i> Game Stats</h2>
                <ul class="game-stats-list">
                    
                </ul>
            </div>
            
            <div class="favorites scrollable-section">
                <h2><i class="fas fa-star"></i> Favorites</h2>
                <ul>

                </ul>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; Vibranium 2024</p>
        <div class="links">
            <a href="#">GitHub</a> / <a href="#">Discord</a> / <a href="#">Privacy</a>
        </div>
    </footer>
    <script src="../static/js/settings.js"></script>
    <script src="../static/js/versionChecker.js"></script>
</body>
</html>
